<div class="section container qweqwe">
  <div class="ssw-html-widget ssw-instagram-widget" data-module="service" data-force="1"  data-gallery_id="1" data-columns_count_for_grid="4" data-rows_count="1" data-type="listing"  data-name="instagramPhotos">
   <div class="ssw-page-loading"><span class="ssw-spin ssw-loader"></span></div>
  </div>
</div>  